<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoliuhe.sell.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.daoliuhe.sell.model.Customer">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="WECHAT" property="wechat" jdbcType="VARCHAR"/>
        <result column="NICK" property="nick" jdbcType="VARCHAR"/>
        <result column="BUSINESS_NAME" property="businessName" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="BUSINESS_ID" property="businessId" jdbcType="INTEGER"/>
        <result column="ENABLE_DATE" property="enableDate" jdbcType="TIMESTAMP" />
        <result column="DISABLE_DATE" property="disableDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
    ID, WECHAT, NICK, BUSINESS_ID, PHONE, ENABLE_DATE, DISABLE_DATE
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from customer
        where ID = #{id,jdbcType=INTEGER}
    </select>

    <sql id="queryData">
        select
        c.ID,
        c.WECHAT,
        c.NICK,
        c.BUSINESS_ID,
        c.PHONE,
        c.ENABLE_DATE,
        c.DISABLE_DATE,
        d.NAME as BUSINESS_NAME
        from customer c, dealers d
        <where>
            c.BUSINESS_ID = d.CODE
            <if test="nick != null and nick != ''">
                and NICK LIKE concat('%',#{nick,jdbcType=VARCHAR},'%')
            </if>
            <if test="businessName != null and businessName != ''">
                and d.BUSINESS_NAME LIKE concat('%',#{businessName,jdbcType=VARCHAR},'%')
            </if>
        </where>
        order by nick asc
    </sql>

    <select id="getPageData" resultMap="BaseResultMap" parameterType="Customer">
        select * from (
        <include refid="queryData"/>
        ) t limit #{beginIndex},#{rows}
    </select>

    <select id="getPageCount" resultType="int" parameterType="Customer">
        select count(*) count from (
        <include refid="queryData"/>
        ) t
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where ID = #{id,jdbcType=INTEGER}
  </delete>

    <delete id="deleteByWechat" parameterType="java.lang.String">
    delete from customer
    where wechat = #{wechat,jdbcType=VARCHAR}
    and PHONE is null
    and ENABLE_DATE is null
    and DISABLE_DATE is null
  </delete>


    <insert id="insert" parameterType="com.daoliuhe.sell.model.Customer">
    insert into customer (
      ID,
      WECHAT,
      NICK,
      BUSINESS_ID,
      PHONE,
      ENABLE_DATE,
      DISABLE_DATE
      )
    values (
      #{id,jdbcType=INTEGER},
      #{wechat,jdbcType=VARCHAR},
      #{nick,jdbcType=VARCHAR},
      #{businessId,jdbcType=INTEGER},
      #{phone,jdbcType=VARCHAR},
      #{enableDate,jdbcType=TIMESTAMP},
      #{disableDate,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.daoliuhe.sell.model.Customer">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="wechat != null">
                WECHAT,
            </if>
            <if test="nick != null">
                NICK,
            </if>
            <if test="businessId != null">
                BUSINESS_ID,
            </if>
            <if test="phone != null">
                PHONE,
            </if>
            <if test="enableDate != null">
                ENABLE_DATE,
            </if>
            <if test="disableDate != null">
                DISABLE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="wechat != null">
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="nick != null">
                #{nick,jdbcType=VARCHAR},
            </if>
            <if test="businessId != null">
                #{businessId,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="enableDate != null">
                #{enableDate,jdbcType=TIMESTAMP},
            </if>
            <if test="disableDate != null">
                #{disableDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.daoliuhe.sell.model.Customer">
        update customer
        <set>
            <if test="wechat != null">
                WECHAT = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="nick != null">
                NICK = #{nick,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="businessId != null">
                BUSINESS_ID = #{businessId,jdbcType=INTEGER},
            </if>
            <if test="enableDate != null">
                ENABLE_DATE = #{enableDate,jdbcType=TIMESTAMP},
            </if>
            <if test="disableDate != null">
                DISABLE_DATE = #{disableDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.daoliuhe.sell.model.Customer">
    update customer
    set WECHAT = #{wechat,jdbcType=VARCHAR},
      NICK = #{nick,jdbcType=VARCHAR},
      BUSINESS_ID = #{businessId,jdbcType=INTEGER},
      PHONE = #{phone,jdbcType=VARCHAR},
      ENABLE_DATE = #{enableDate,jdbcType=TIMESTAMP},
      DISABLE_DATE = #{disableDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateDisableCustomer" parameterType="com.daoliuhe.sell.model.Customer">
      update customer
          set DISABLE_DATE = now()
      where WECHAT = #{wechat,jdbcType=VARCHAR}
          and ENABLE_DATE is not null
    </update>

    <update id="updateEnableCustomer" parameterType="com.daoliuhe.sell.model.Customer">
      update customer
          set ENABLE_DATE = now(),
              PHONE = #{phone,jdbcType=VARCHAR}
      where WECHAT = #{wechat,jdbcType=VARCHAR}
          and ENABLE_DATE is null
          and DISABLE_DATE is null
    </update>

</mapper>