<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoliuhe.sell.mapper.DealersUserMapper">
    <resultMap id="BaseResultMap" type="com.daoliuhe.sell.model.DealersUser">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="DEALERS_ID" property="dealersId" jdbcType="INTEGER"/>
        <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, DEALERS_ID, USER_ID
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from dealers_user
        where ID = #{id,jdbcType=INTEGER}
    </select>

    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from dealers_user
        <where>
            <if test="id != null and id != ''">
                and ID = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId != null and userId != ''">
                and USER_ID = #{userId,jdbcType=INTEGER}
            </if>
            <if test="dealersId != null and dealersId != ''">
                and DEALERS_ID = #{dealersId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <sql id="queryUserData">
    select u.ID, u.LOGIN_NAME, u.USER_NAME, u.ENABLED
    from DEALERS_USER du
    left join SYS_USER u
    on du.USER_ID = u.ID
    left join DEALERS d
    on du.DEALERS_ID = d.ID
    where d.ID = #{dealersId,jdbcType=VARCHAR}
    order by du.ID desc
  </sql>

    <select id="getUserPageCount" resultType="int" parameterType="DealersUser">
        select count(*) count from (
        <include refid="queryUserData"/>
        ) t
    </select>

    <select id="getUserPageData" resultType="com.daoliuhe.sell.model.User" parameterType="DealersUser">
        select * from (
        <include refid="queryUserData"/>
        ) t limit #{beginIndex},#{rows}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dealers_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>

    <delete id="deleteRelationForUser">
        delete from dealers_user
        where DEALERS_ID = #{dealersId,jdbcType=INTEGER} and USER_ID in
        <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.daoliuhe.sell.model.DealersUser">
    insert into dealers_user (ID, DEALERS_ID, USER_ID
      )
    values (#{id,jdbcType=INTEGER}, #{dealersId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.daoliuhe.sell.model.DealersUser">
        insert into dealers_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="dealersId != null">
                DEALERS_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="dealersId != null">
                #{dealersId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.daoliuhe.sell.model.DealersUser">
        update dealers_user
        <set>
            <if test="dealersId != null">
                DEALERS_ID = #{dealersId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.daoliuhe.sell.model.DealersUser">
    update dealers_user
    set DEALERS_ID = #{dealersId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>