<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoliuhe.sell.mapper.OrderProductMapper" >
  <resultMap id="BaseResultMap" type="com.daoliuhe.sell.model.OrderProduct" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="ORDER_TOTAL_PRICE" property="orderTotalPrice" jdbcType="DOUBLE" />
    <result column="PAY_TIME" property="payTime" jdbcType="VARCHAR" />
    <result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR" />
    <result column="DEALERS_ID" property="dealersId" jdbcType="INTEGER" />
    <result column="COMFIRM" property="comfirm" jdbcType="VARCHAR" />
    <result column="COMFIRM_DATE" property="comfirmDate" jdbcType="TIMESTAMP" />
    <result column="RESC" property="resc" jdbcType="VARCHAR" />
    <result column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DOUBLE" />
    <result column="QUANTITY" property="quantity" jdbcType="INTEGER" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DOUBLE" />
    <result column="DISCOUNT_PRICE" property="discountPrice" jdbcType="DOUBLE" />
    <result column="DISCOUNT_TOTAL_PRICE" property="discountTotalPrice" jdbcType="DOUBLE" />
    <result column="REBATE" property="rebate" jdbcType="DOUBLE" />
    <result column="SKU_ID" property="skuId" jdbcType="VARCHAR" />
    <result column="SKU_TITLE" property="skuTitle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, ORDER_TOTAL_PRICE, PAY_TIME, USER_PHONE, DEALERS_ID, COMFIRM, COMFIRM_DATE, 
    RESC, ITEM_ID, ITEM_NAME, PRICE, QUANTITY, TOTAL_PRICE, DISCOUNT_PRICE, DISCOUNT_TOTAL_PRICE, REBATE, SKU_ID, SKU_TITLE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_product
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <sql id="queryData">
    select
      op.ID,
      op.ORDER_ID,
      op.ORDER_TOTAL_PRICE,
      op.PAY_TIME,
      op.USER_PHONE,
      op.DEALERS_ID,
      op.COMFIRM,
      op.COMFIRM_DATE,
      op.RESC,
      op.ITEM_ID,
      op.ITEM_NAME,
      op.PRICE,
      op.QUANTITY,
      op.TOTAL_PRICE,
      case when comfirm = '0' then op.PRICE*p.discount else op.DISCOUNT_PRICE end as DISCOUNT_PRICE,
      case when comfirm = '0' then op.PRICE*p.discount*op.QUANTITY else op.DISCOUNT_TOTAL_PRICE end as DISCOUNT_TOTAL_PRICE,
      case when comfirm = '0' then op.TOTAL_PRICE - op.PRICE*p.discount*op.QUANTITY else op.REBATE end  as REBATE,
      op.SKU_ID,
      op.SKU_TITLE,
      d.name as dealerName
    from order_product op
    LEFT JOIN product p
    on op.ITEM_ID = p.PRODUCT_ID and op.SKU_ID = p.SKU_ID
    LEFT JOIN dealers d
    on op.USER_PHONE = d.PHONE
    <where>
      <if test="comfirm != null and comfirm != ''">
        and op.COMFIRM = #{comfirm,jdbcType=VARCHAR}
      </if>
      <if test="userPhone != null and userPhone != ''">
        and op.USER_PHONE = #{userPhone,jdbcType=VARCHAR}
      </if>
      <if test="orderId != null and orderId != ''">
        and op.ORDER_ID = #{orderId,jdbcType=VARCHAR}
      </if>
      <if test="payTimeBegin != null and payTimeBegin != ''">
        <![CDATA[ and op.PAY_TIME >= #{payTimeBegin,jdbcType=VARCHAR} ]]>
      </if>
      <if test="payTimeEnd != null and payTimeEnd != ''">
        <![CDATA[ and op.PAY_TIME <= #{payTimeEnd,jdbcType=VARCHAR} ]]>
      </if>
    </where>
    order by op.ID asc
  </sql>

  <select id="getPageData" resultMap="BaseResultMap" parameterType="OrderProduct">
    select * from (
    <include refid="queryData" />
    ) t limit #{beginIndex},#{rows}
  </select>

  <select id="getPageCount" resultType="int" parameterType="OrderProduct">
    select count(*) count from (
    <include refid="queryData" />
    ) t
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_product
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.daoliuhe.sell.model.OrderProduct" >
    insert into order_product (ID, ORDER_ID, ORDER_TOTAL_PRICE, 
      PAY_TIME, USER_PHONE, DEALERS_ID, 
      COMFIRM, COMFIRM_DATE, RESC, 
      ITEM_ID, ITEM_NAME, PRICE, 
      QUANTITY, TOTAL_PRICE, DISCOUNT_PRICE, DISCOUNT_TOTAL_PRICE, REBATE, SKU_ID, SKU_TITLE
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{orderTotalPrice,jdbcType=DOUBLE},
      #{payTime,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{dealersId,jdbcType=INTEGER}, 
      #{comfirm,jdbcType=VARCHAR}, #{comfirmDate,jdbcType=TIMESTAMP}, #{resc,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{quantity,jdbcType=INTEGER}, #{totalPrice,jdbcType=DOUBLE},#{discountPrice,jdbcType=DOUBLE},
      #{discountTotalPrice,jdbcType=DOUBLE},#{rebate,jdbcType=DOUBLE},
      #{skuId,jdbcType=VARCHAR}, #{skuTitle,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.daoliuhe.sell.model.OrderProduct" >
    insert into order_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="orderTotalPrice != null" >
        ORDER_TOTAL_PRICE,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="dealersId != null" >
        DEALERS_ID,
      </if>
      <if test="comfirm != null" >
        COMFIRM,
      </if>
      <if test="comfirmDate != null" >
        COMFIRM_DATE,
      </if>
      <if test="resc != null" >
        RESC,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="discountPrice != null" >
        DISCOUNT_PRICE,
      </if>
      <if test="discountTotalPrice != null" >
        DISCOUNT_TOTAL_PRICE,
      </if>
      <if test="rebate != null" >
        REBATE,
      </if>
      <if test="skuId != null" >
        SKU_ID,
      </if>
      <if test="skuTitle != null" >
        SKU_TITLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderTotalPrice != null" >
        #{orderTotalPrice,jdbcType=DOUBLE},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="dealersId != null" >
        #{dealersId,jdbcType=INTEGER},
      </if>
      <if test="comfirm != null" >
        #{comfirm,jdbcType=VARCHAR},
      </if>
      <if test="comfirmDate != null" >
        #{comfirmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="resc != null" >
        #{resc,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DOUBLE},
      </if>
      <if test="discountTotalPrice != null" >
        #{discountTotalPrice,jdbcType=DOUBLE},
      </if>
      <if test="rebate != null" >
        #{rebate,jdbcType=DOUBLE},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="skuTitle != null" >
        #{skuTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.daoliuhe.sell.model.OrderProduct" >
    update order_product
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderTotalPrice != null" >
        ORDER_TOTAL_PRICE = #{orderTotalPrice,jdbcType=DOUBLE},
      </if>
      <if test="payTime != null" >
        PAY_TIME = #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="dealersId != null" >
        DEALERS_ID = #{dealersId,jdbcType=INTEGER},
      </if>
      <if test="comfirm != null" >
        COMFIRM = #{comfirm,jdbcType=VARCHAR},
      </if>
      <if test="comfirmDate != null" >
        COMFIRM_DATE = #{comfirmDate,jdbcType=TIMESTAMP},
      </if>
      <if test="resc != null" >
        RESC = #{resc,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DOUBLE},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="discountPrice != null" >
        DISCOUNT_PRICE = #{discountPrice,jdbcType=DOUBLE},
      </if>
      <if test="discountTotalPrice != null" >
        DISCOUNT_TOTAL_PRICE = #{discountTotalPrice,jdbcType=DOUBLE},
      </if>
      <if test="rebate != null" >
        REBATE = #{rebate,jdbcType=DOUBLE},
      </if>
      <if test="skuId != null" >
        SKU_ID = #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="skuTitle != null" >
        SKU_TITLE = #{skuTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daoliuhe.sell.model.OrderProduct" >
    update order_product
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      ORDER_TOTAL_PRICE = #{orderTotalPrice,jdbcType=DOUBLE},
      PAY_TIME = #{payTime,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      DEALERS_ID = #{dealersId,jdbcType=INTEGER},
      COMFIRM = #{comfirm,jdbcType=VARCHAR},
      COMFIRM_DATE = #{comfirmDate,jdbcType=TIMESTAMP},
      RESC = #{resc,jdbcType=VARCHAR},
      ITEM_ID = #{itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DOUBLE},
      QUANTITY = #{quantity,jdbcType=INTEGER},
      TOTAL_PRICE = #{totalPrice,jdbcType=DOUBLE},
      DISCOUNT_PRICE = #{discountPrice,jdbcType=DOUBLE},
      DISCOUNT_TOTAL_PRICE = #{discountTotalPrice,jdbcType=DOUBLE},
      REBATE = #{rebate,jdbcType=DOUBLE},
      SKU_ID = #{skuId,jdbcType=VARCHAR},
      SKU_TITLE = #{skuTitle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>