<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoliuhe.sell.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.daoliuhe.sell.model.Product" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="SKU_ID" property="skuId" jdbcType="VARCHAR" />
    <result column="SKU_TITLE" property="skuTitle" jdbcType="VARCHAR" />
    <result column="PRODUCT_PRICE" property="productPrice" jdbcType="DOUBLE" />
    <result column="DISCOUNT" property="discount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PRODUCT_ID, PRODUCT_NAME, PRODUCT_PRICE, DISCOUNT, SKU_ID, SKU_TITLE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <sql id="queryData">
    select
    <include refid="Base_Column_List" />
    from product
    <where>
      <if test="productName != null and productName != ''">
        and PRODUCT_NAME LIKE concat('%',#{productName,jdbcType=VARCHAR},'%')
      </if>
      <if test="productId != null and productId != ''">
        and PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      </if>
      <if test="skuId != null and skuId != ''">
        and SKU_ID = #{skuId,jdbcType=VARCHAR}
      </if>
    </where>
    order by ID asc
  </sql>

  <select id="getPageData" resultMap="BaseResultMap" parameterType="Product">
    select * from (
    <include refid="queryData" />
    ) t limit #{beginIndex},#{rows}
  </select>

  <select id="getPageCount" resultType="int" parameterType="Product">
    select count(*) count from (
    <include refid="queryData" />
    ) t
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.daoliuhe.sell.model.Product" >
    insert into product (ID, PRODUCT_ID, PRODUCT_NAME, 
      PRODUCT_PRICE, DISCOUNT, SKU_ID, SKU_TITLE)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=DOUBLE}, #{discount,jdbcType=DOUBLE}, #{skuId,jdbcType=VARCHAR},#{skuTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.daoliuhe.sell.model.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="productName != null" >
        PRODUCT_NAME,
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE,
      </if>
      <if test="discount != null" >
        DISCOUNT,
      </if>
      <if test="skuId != null" >
        SKU_ID,
      </if>
      <if test="skuTitle != null" >
        SKU_TITLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="skuTitle != null" >
        #{skuTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.daoliuhe.sell.model.Product" >
    update product
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE = #{productPrice,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        DISCOUNT = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="skuId != null" >
        SKU_ID = #{skuId,jdbcType=DOUBLE},
      </if>
      <if test="skuTitle != null" >
        SKU_TITLE = #{skuTitle,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daoliuhe.sell.model.Product" >
    update product
    set PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      PRODUCT_PRICE = #{productPrice,jdbcType=DOUBLE},
      DISCOUNT = #{discount,jdbcType=DOUBLE},
      SKU_ID = #{skuId,jdbcType=VARCHAR},
      SKU_TITLE = #{skuTitle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByProductIdSelective" parameterType="com.daoliuhe.sell.model.Product" >
    update product
    <set >
      <if test="productName != null" >
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE = #{productPrice,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        DISCOUNT = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="skuId != null" >
        SKU_ID = #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="skuTitle != null" >
        SKU_TITLE = #{skuTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where PRODUCT_ID = #{productId,jdbcType=INTEGER}
  </update>
</mapper>